force-app/main/default/flows/New_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Save_Destinations</name>
        <label>Save Destinations</label>
        <locationX>798</locationX>
        <locationY>1934</locationY>
        <actionName>SSS_NewEventController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Recurring_Events</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_ErrorMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>destinations</name>
            <value>
                <elementReference>Destinations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>noOfDestinations</name>
            <value>
                <elementReference>No_of_Destinations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_1_Destination</name>
        <label>Assign 1 Destination</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Destination.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Destinations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_2_Destination</name>
        <label>Assign 2 Destination</label>
        <locationX>402</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Destination2.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination2.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination2.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination2.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Destinations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_3_Destination</name>
        <label>Assign 3 Destination</label>
        <locationX>666</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Destination3.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination3.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination3.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination3.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Destinations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_4_Destination</name>
        <label>Assign 4 Destination</label>
        <locationX>930</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Destination4.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination4.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination4.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination4.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Destinations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_5_Dates</name>
        <label>Assign 5 Dates</label>
        <locationX>50</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finsih_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_5_Destination</name>
        <label>Assign 5 Destination</label>
        <locationX>1194</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>Destination5.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination5.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination5.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination5.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Destinations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Event_Values</name>
        <label>Assign New Event Values</label>
        <locationX>798</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>TrekkingEventRecord.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrekkingEventRecord.Start_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrekkingEventRecord.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrekkingEventRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrekkingEventRecord.Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Group_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrekkingEventRecord.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Difficulty_Level</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrekkingEventRecord.Batch_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Seats</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_EVent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_1_Destination</name>
        <label>Assign 1 Destination</label>
        <locationX>402</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Destination.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_2_Destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_2_Destination</name>
        <label>Assign 2 Destination</label>
        <locationX>666</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Destination2.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination2.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination2.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination2.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_3_Destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_3_Destination</name>
        <label>Assign 3 Destination</label>
        <locationX>930</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Destination3.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination3.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination3.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination3.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_4_Destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_4_Destination</name>
        <label>Assign 4 Destination</label>
        <locationX>1194</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Destination4.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination4.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination4.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination4.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_5_Destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_5_Dates</name>
        <label>Assign 4 Dates</label>
        <locationX>314</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finsih_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_1_Destination</name>
        <label>Assign 1 Destination</label>
        <locationX>666</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Destination.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_2_Destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_2_Destination</name>
        <label>Assign 2 Destination</label>
        <locationX>930</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Destination2.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination2.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination2.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination2.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_3_Destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_3_Destination</name>
        <label>Assign 3 Destination</label>
        <locationX>1194</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Destination3.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination3.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination3.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination3.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_4_Destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_5_Dates</name>
        <label>Assign 3 Dates</label>
        <locationX>578</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finsih_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_1_Destination</name>
        <label>Assign 1 Destination</label>
        <locationX>930</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Destination.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_2_Destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_2_Destination</name>
        <label>Assign 2 Destination</label>
        <locationX>1194</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Destination2.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination2.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination2.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination2.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_3_Destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_5_Dates</name>
        <label>Assign 2 Dates</label>
        <locationX>842</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finsih_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_1_Destination</name>
        <label>Assign 1 Destination</label>
        <locationX>1194</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Destination.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Visiting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destination.Trekking_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Newly_Created_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Destination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Assign_2_Destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_5_Dates</name>
        <label>Assign 1 Dates</label>
        <locationX>1106</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>DateTimeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finsih_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Apr</name>
        <choiceText>Apr</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Apr</stringValue>
        </value>
    </choices>
    <choices>
        <name>Aug</name>
        <choiceText>Aug</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aug</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dec</name>
        <choiceText>Dec</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dec</stringValue>
        </value>
    </choices>
    <choices>
        <name>Easy</name>
        <choiceText>Easy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Easy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Feb</name>
        <choiceText>Feb</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Feb</stringValue>
        </value>
    </choices>
    <choices>
        <name>fifth</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>first</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>fourth</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Jan</name>
        <choiceText>Jan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jul</name>
        <choiceText>Jul</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jul</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jun</name>
        <choiceText>Jun</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jun</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mar</name>
        <choiceText>Mar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mar</stringValue>
        </value>
    </choices>
    <choices>
        <name>May</name>
        <choiceText>May</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>May</stringValue>
        </value>
    </choices>
    <choices>
        <name>NO</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Nov</name>
        <choiceText>Nov</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nov</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oct</name>
        <choiceText>Oct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oct</stringValue>
        </value>
    </choices>
    <choices>
        <name>second</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Sept</name>
        <choiceText>Sept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sept</stringValue>
        </value>
    </choices>
    <choices>
        <name>third</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Weekend1</name>
        <choiceText>1st Weekend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1st Weekend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekend2</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;2nd Weekend&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2nd Weekend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekend3</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;3rd Weekend&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3rd Weekend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekend4</name>
        <choiceText>4th &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Weekend&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4th Weekend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekend5</name>
        <choiceText>5th &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Weekend&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5th Weekend</stringValue>
        </value>
    </choices>
    <choices>
        <name>YES</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Recurring_Selected</name>
        <label>Is Recurring Selected?</label>
        <locationX>798</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Finsih_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Five_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_Same_Event_with_Different_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_5_Dates</targetReference>
            </connector>
            <label>Five Dates</label>
        </rules>
        <rules>
            <name>Four_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_Same_Event_with_Different_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_5_Dates</targetReference>
            </connector>
            <label>Four Dates</label>
        </rules>
        <rules>
            <name>Three_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_Same_Event_with_Different_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_5_Dates</targetReference>
            </connector>
            <label>Three Dates</label>
        </rules>
        <rules>
            <name>Two_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_Same_Event_with_Different_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_5_Dates</targetReference>
            </connector>
            <label>Two Dates</label>
        </rules>
        <rules>
            <name>First_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_Same_Event_with_Different_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YES</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_5_Dates</targetReference>
            </connector>
            <label>First Date</label>
        </rules>
        <rules>
            <name>No_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_Same_Event_with_Different_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finsih_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Destinations</name>
        <label>Number of Destinations</label>
        <locationX>798</locationX>
        <locationY>1118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_of_Destinations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>first</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1_Destination</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_of_Destinations</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>second</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_1_Destination</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_of_Destinations</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>third</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_1_Destination</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_of_Destinations</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fourth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_1_Destination</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>X5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_of_Destinations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fifth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_1_Destination</targetReference>
            </connector>
            <label>5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Password</name>
        <label>Valid Password</label>
        <locationX>1656</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Authentication_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PasswordText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Credentials.Password__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Event</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Grade</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Grade__c</picklistField>
        <picklistObject>Trekking_Event__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GroupName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Location</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Location__c</picklistField>
        <picklistObject>Destination__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Destination__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_EVent</name>
        <label>Create New Event</label>
        <locationX>798</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_Newly_Created_Event</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_ErrorMessage</targetReference>
        </faultConnector>
        <inputReference>TrekkingEventRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Credentials</name>
        <label>Get Credentials</label>
        <locationX>1656</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Authentication_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Credentials__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Newly_Created_Event</name>
        <label>Get Newly Created Event</label>
        <locationX>798</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Destinations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_ErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Group_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trekking_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Authentication_Screen</name>
        <label>Authentication Screen</label>
        <locationX>1656</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Valid_Password</targetReference>
        </connector>
        <fields>
            <name>password</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Enter Passcode&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PasswordText</name>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_ErrorMessage</name>
        <label>Copy 1 of ErrorMessage</label>
        <locationX>1722</locationX>
        <locationY>2054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorMessageText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 7, 7);&quot;&gt;Something went wrong..!!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Destinations</name>
        <label>Create Destinations</label>
        <locationX>798</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Number_of_Destinations</targetReference>
        </connector>
        <fields>
            <name>Destination_1</name>
            <fieldText>Destination 1</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Destination_1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location1</name>
                    <choiceReferences>Location</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type1</name>
                    <choiceReferences>Type</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Fort</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Visiting_Date1</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Visiting Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Destination_2</name>
            <fieldText>Destination 2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Destination_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location2</name>
                    <choiceReferences>Location</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type2</name>
                    <choiceReferences>Type</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Fort</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Visiting_Date2</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Visiting Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_of_Destinations</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>second</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Destination_3</name>
            <fieldText>Destination 3</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Destination_3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location3</name>
                    <choiceReferences>Location</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type3</name>
                    <choiceReferences>Type</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Fort</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Visiting_Date3</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Visiting Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_of_Destinations</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>third</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Destination_4</name>
            <fieldText>Destination 4</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Destination_4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location4</name>
                    <choiceReferences>Location</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type4</name>
                    <choiceReferences>Type</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Fort</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Visiting_Date4</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Visiting Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_of_Destinations</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>fourth</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Destination_5</name>
            <fieldText>Destination 5</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Destination_5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location5</name>
                    <choiceReferences>Location</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type5</name>
                    <choiceReferences>Type</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Fort</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Visiting_Date5</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Visiting Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_of_Destinations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>fifth</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finsih_Screen</name>
        <label>Finsih Screen</label>
        <locationX>798</locationX>
        <locationY>2510</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Event</targetReference>
        </connector>
        <fields>
            <name>SuccessMesssage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Event Created Successfully. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Add Another Event</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Event</name>
        <label>New Event</label>
        <locationX>798</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_New_Event_Values</targetReference>
        </connector>
        <fields>
            <name>New_Event_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Event_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Group_Name</name>
                    <choiceReferences>GroupName</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Group Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Event_Start_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Event Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cost</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Number_of_Seats</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>20.0</numberValue>
                    </defaultValue>
                    <fieldText>Number of Seats</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Event_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Event_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Event Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Event_End_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Event End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Difficulty_Level</name>
                    <choiceReferences>Grade</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Easy</stringValue>
                    </defaultValue>
                    <fieldText>Difficulty Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>No_of_Destinations</name>
            <choiceReferences>first</choiceReferences>
            <choiceReferences>second</choiceReferences>
            <choiceReferences>third</choiceReferences>
            <choiceReferences>fourth</choiceReferences>
            <choiceReferences>fifth</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>first</defaultSelectedChoiceReference>
            <fieldText>No. of Destinations</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recurring_Events</name>
        <label>Recurring Events</label>
        <locationX>798</locationX>
        <locationY>2054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Recurring_Selected</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_add_Same_Event_with_Different_Date</name>
            <choiceReferences>YES</choiceReferences>
            <choiceReferences>NO</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>NO</defaultSelectedChoiceReference>
            <fieldText>Do you want to add Same Event with Different Date?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Recurring_Events_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Recurring_Events_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date1</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Please Select Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date2</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Please Select Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date3</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Please Select Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date4</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Please Select Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date5</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Please Select Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_add_Same_Event_with_Different_Date</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1530</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Credentials</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>DateTimeList</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Destination</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Destination__c</objectType>
    </variables>
    <variables>
        <name>Destination2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Destination__c</objectType>
    </variables>
    <variables>
        <name>Destination3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Destination__c</objectType>
    </variables>
    <variables>
        <name>Destination4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Destination__c</objectType>
    </variables>
    <variables>
        <name>Destination5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Destination__c</objectType>
    </variables>
    <variables>
        <name>Destinations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Destination__c</objectType>
    </variables>
    <variables>
        <name>Event_Slot_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrekkingEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trekking_Event__c</objectType>
    </variables>
</Flow>
